<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detalhes_Fritas</title>
</head>
<body>
{% extends "index.html" %}

{% block content %}
  <h1>Comprador: {{ fritas.nome }}</h1>
  <p><strong>Quantidade:</strong> {{ fritas.quantidade }}</p>
  <p><strong>Endereço:</strong> {{ fritas.endereço }}</p>
  <p><strong>Data da compra:</strong> {{ fritas.data}}</p>
  <p><strong>Tipo de fritas:</strong>{{fritas.Tamanho}}</p>
    <a class="btn btn-danger" href="/">Voltar</a>

{% endblock %}
</body>
</html>