<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pastel</title>
</head>
<body>

    {% extends "index.html" %}
    {% block content %}
     {% csrf_token %}
    <div class="page-header">
        <h2>Pastel</h2>
    </div>

    <form method="POST" action=".">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}" class="label-control">
                {{ field.label }}
                {% if field.field.required %}*{% endif %}
                </label>
                {{ field }}
                {% if field.errors %}
                <div class="alert alert-danger">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Pedir</button>
        <a class="btn btn-danger" href="/">Cancelar</a>

    </form>
        <script>
        $("input").addClass("form-control");
        $("CharField").addClass("form-control");
        $("input[type=checkbox]").removeClass("form-control");
        </script>
    {% endblock %}
</body>
</html>