<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Refrigerantes</title>
</head>
<body>

    {% extends "index.html" %}
    {% block content %}
    {% csrf_token %}
    <div class="page-header">
        <h2>Refrigerantes</h2>
    </div>

    <form method="POST" action=".">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary" type="submit">Pedir</button>
        <a class="btn btn-danger" href="/">Cancelar</a>

    </form>
        <script>
        $("input").addClass("form-control");
        $("textarea").addClass("form-control");
        $("input[type=checkbox]").removeClass("form-control");
        </script>
    {% endblock %}
</body>
</html>